<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>User Login</title>
</head>
<body>
    <div style="background-image: url('https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-2foodgroups_vegetables_detailfeature.jpg?sfvrsn=226f1bc7_6');text-align: center; background-repeat: no-repeat;background-size:100% 120%;">
    <h1 class="text-center alert alert-success" style="font-family: Georgia, serif;"> Login Here!!!!!<span class="glyphicon glyphicon-leaf" style="color:green;"></span></h1>
    <div class="container" ><br> <br> <br> <br> <br>
 <form action="" method="POST" novalidate class="form-control" >
  {% csrf_token %}
    {% for f in form3 %}
     {{f.label_tag}} {{f}} {{f.errors|striptags}} <br><br>
  {% endfor %}
  
  

  <input type="submit" value="login" class="btn btn-info-active" >
 </form>
  <h4 style="color:black">Can't Login?<a href="{% url 'signup' %}">Signup Here!</a></h4> <!--##always write namespace when using this url-->
  </div>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  </div>
</body>
</html>